body {
  background-color: #000;
  margin: 0;
  padding: 20px;
}

.item {
  border: solid 1px #c04743;
  padding: 10px;
}

.outer {
  box-sizing: content-box;
  width: 350px;
  background-color: #308dc0;
  margin-bottom: 40px;
}

.middle {
  background-color: #ffa500;
}

.inner {
  background-color: #ddd;
}
